/* popiins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/19562728/pexels-photo-19562728/free-photo-of-a-church-with-a-steeple-and-a-mountain-in-the-background.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contents {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_main .title {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(28, 28, 28);
}

.counter {
    margin: 2rem 0 0 0;
}

.timers {
    display: flex;
    margin-top: 2rem;
}

.timers div {
    margin: 0 2rem;
}

.timers div p {
    font-size: 1.5rem;
    font-weight: bold;
}

.timers .timer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
